.nav-bar {
    position: fixed;
    width: 100%;
    background: rgb(21, 21, 21);
    top: 0;
    color: white;
    height: auto;
}

.nav-body {
    display: flex;
    padding: 1%;
    padding-right: 2% ;
    padding-left: 2% ;
    justify-content: space-between;
}

.links > * {
    color: white;
    text-decoration: none;
    display: inline-block;
}
